body {
    background-color: #f4f6f9;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.service-filter .Select--multi .Select-value {
    border-radius: 6px;
    font-weight: 600;
    border: none;
}

.service-emergency {
    background-color: #e0770d;
    color: black;
}

.service-ICU {
    background-color: #07dbf7;
    color: black;
}

.service-surgery {
    background-color: #f1f707;
    color: black;
}

.service-general_medicine {
    background-color: #1fd368;
    color: black;
}